@font-face {
  font-family: 'bogart';
  src: url('./typefaces/Bogart-Light-trial.ttf') format('truetype')
}





html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'bogart'
  
}
body{
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home{
  margin-top: 0%;
  background-color: #282c34;
  height: 100vh;
  font-size: 32pt;
  line-height: 36pt;
  text-align: center;
  color: azure;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
 div#home-text{
 /* margin-top: calc(50vh - 72pt);*/
 align-self: center;
}

#name-span{
  color: #93E9BE;
}

 .page-link-div{
  display: inline-block;
  border: solid white 2px;
  font-size: 13pt;
  padding-left: 20px;
  padding-right: 20px;
  align-self: center;
  margin-top: 20px;
  
}
.page-link{
  text-decoration: none;
  font-size: 13pt;
  color: azure;
  align-self: center;
}
.page-link:hover{
  cursor: pointer;
}


.nav-bar{
  display: flex;
  width: calc(100vw - 39px);
  height: 50px;
  background-color: #1e2127;
  border-bottom: 6px solid #93E9BE;
  position: absolute;
  z-index: 111111;
  top: 100vh;
  padding-left: 39px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}



.nav-link{
  cursor: pointer;
  margin: 0 20px;
  font-size: 20px;
  color: #fff;
  left: 0;
}

#nav-icon{
  display: none;
  position: absolute;
 margin-top: 24px;
  right: 15px;
 
  width: 50px;
  height: 50px;
}

#nav-icon-line-1{

  width: 50px;
  height: 3px;
  background-color: azure;
}

#nav-icon-line-2{
  margin-top: 7px;
  width: 19px;
  height: 3px;
  background-color: azure;
}

#nav-icon-line-3{
  margin-top: -3px;
  float: right;
  width: 19px;
  height: 3px;
  margin-left: 12px;
  background-color: azure;
}

#nav-icon-line-4{
  margin-top: 7px;
  width: 50px;
  height: 3px;
  background-color: azure;
}


.fixed {
  position: fixed;
  top: 0;
  animation: popUp 1s;
}

@keyframes popUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

#about-div{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#about-all{
 /* padding-top: 60px;*/
  display: inline-block;
  padding-bottom: 30px;
  width: 100vw;
}

#about-header{
  margin-top: 33px;
  font-size: 30pt;
  font-weight: bold;
  padding-top: 30px;
}

#about-values-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}


.value-header{
  font-size: 18pt;
  font-weight: bold;
}

.about-values-row{
  display: flex;
  flex-direction: row;
}

.about-values-item{
  width: 230px;
  height: 230px;
  padding-left: 15px;
  padding-right: 15px;
 /* background-color: #93E9BE;*/
}


#about-skills-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30pt;
  justify-content: center;
}

#about-skills-wrapper > div {
  margin-top: 33px;
  
 
}
#about-skill-wrapper-img-div{
  margin-right: 10vw;
  
}

#about-skill-wrapper-img-div > img {
  width: 270px;
  height: 270px;
  object-fit: cover;
  object-position: right 3%;
  border-radius: 50%;
  border: solid 12px #93E9BE;
  background-color: #93E9BE;
}

#about-skills-list{
width: 450px;
float: right;
display: flex;
flex-wrap: wrap;
/*background-color: #93E9BE;*/
}

.about-skills-logo {
  max-width: 80px;
  max-height: 80px;
  margin: 3px;;
}

#portfolio-div{
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: #fff;
}

#portfolio-header{
  margin-top: 33px;
  font-size: 30pt;
  font-weight: bold;
  padding-top: 60px;
 
}
#blog-div{
  height: 100vh;
  width: 100vw;
 
}

#blog-header{
  margin-top: 33px;
  font-size: 30pt;
  font-weight: bold;
  padding-top: 60px;
}

#contact-div{
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: #fff;
}

#contact-header{
  margin-top: 33px;
  font-size: 30pt;
  font-weight: bold;
  padding-top: 60px;
}


@media only screen and (max-width: 840px) {
  #about-skill-wrapper-img-div{
   /* margin-right: 0;*/
    
  }
}



@media only screen and (max-width: 600px) {
  #home {
    font-size: 16pt;
    line-height: 20pt;
  
  }

  #nav-icon{
    position: absolute;
    display:inline-block;
    cursor: pointer;
    
  }

  .nav-link{
    float: right;
    display: none;
    height: 0px;
    transition: 1s;

  }
  .nav-bar{
   padding-left: 0;
   width: 100vw;
   
  }

  .nav-bar.responsive {
    flex-direction: column;
   height: 300px;
  }

  .nav-bar.responsive > div.nav-link:first-child{
    margin-top: 50px;
    animation: popDown .2s;
  }

  .nav-bar.responsive > div.nav-link:nth-child(2){
    animation: popDown .4s;
  }

  .nav-bar.responsive > div.nav-link:nth-child(3){
    animation: popDown .6s;
  }

  .nav-bar.responsive > div.nav-link:nth-child(4){
    animation: popDown .8s;
  }

  .nav-bar.responsive > div.nav-link:nth-child(5){
    animation: popDown 1s;
  }

  .nav-bar.responsive > div.nav-link{
    
    float: none;
    display: block;
    text-align: left;
    padding-left: 10vw;
    
    width: 90vw;
    height: 50px;
    background-color: #1e2127;
  
   
  }

  .nav-bar.responsive > #nav-icon{
    margin-top: 12px;
  }

  @keyframes popDown {
    from {
      transform: translateY(-900%);
      transform: translateX(-300%)
    }
    to {
      transform: translateY(0%);
      transform: translateX(0%)
    }
  }

  #about-header{
  font-size: 20pt;
    line-height: 50pt;
  }

  #about-skill-wrapper-img-div{
     margin-right: 0;
     
   }

  #about-skill-wrapper-img-div > img {
    border: solid 9px #93E9BE;
    width: 200px;
    height: 200px;

  }

  #about-skills-list{
    width: 400px;
  }

  
  
  #portfolio-header{
  font-size: 20pt;
    line-height: 50pt;  
  }
  
  #blog-header{
   font-size: 20pt;
    line-height: 25pt; 
  }
  
  #contact-header{
   font-size: 20pt;
    line-height: 25pt; 
  }



}
